# Hugo Build Output
public/
resources/
.hugo_build.lock

# Theme Dependencies
themes/*/resources/
themes/*/public/
themes/*/node_modules/
themes/*/exampleSite/
themes/*/.git

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Executables
hugo.exe
*.exe

# Editor Configs
.obsidian/

